imaplib2==3.6
email  # Comes with Python standard library, no need to install separately
python-dotenv
beautifulsoup4
smtplib  # Also part of Python standard library
langchain
langchain-community
langchain-openai
openai
pydantic
fastapi
uvicorn
pymongo
python-dateutil
pycryptodome
